//Responsive Breakpoints
$bp-xxl: 81.25em; //1300px
$bp-largest: 75em; //1200px divide the number of pixels by 16 to get the em value.
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-xs: 30em; //480px
$bp-xxs: 22.5em; //360px

//Responsive Breakpoints updated
//Responsive Breakpoints
$bp-1300: 81.25em; //1300px
$bp-1200: 75em; //1200px divide the number of pixels by 16 to get the em value.
$bp-1100: 68.75em; //1100px
$bp-1000: 62.5em; //1000px
$bp-900: 56.25em; //900px
$bp-800: 50em; //800px
$bp-700: 43.75em; //700px
$bp-600: 37.5em; //600px
$bp-500: 31.25em; //500px
$bp-400: 25em; //400px
$bp-300: 18.75em //300px;